.KanbanColumn {
  &--dragging {
    position: relative;
    z-index: 10;

    & > * {
      filter: drop-shadow(0 5px 5px var(--color-purple-400));
    }

    &:before {
      position: absolute;
      content: '';
      border-left: 2px solid var(--color-purple-400);
      height: 100%;
      z-index: -1;
    }
  }
}
